@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior:auto;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img,
video {
  max-width: 100%;
  height: auto;
} */

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 2rem 0 2rem;
}

.section__title {
  font-size: 42px;
  color: #fff;
  font-family: 'Montserat', sans-serif;
  font-weight: bold;
  padding-top: 5px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*=============== HOME ===============*/
#home {
  background-image: url("../img/banner.jpeg");
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  top: 0;
  height: 70vh;
}

.home__data {
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: center;
}



.home__title{
  width: 100%;
  text-align: center !important;
  align-items: center;
}

.home__title .home__data-title{
  text-align: center;
}

.home__title .home__data-subtitle{
  text-align: center;
}


.home__container {
  position: relative;
  display: flex;
  height: 50vh;
  align-content: center;
}

.home__data-subtitle, 
.home__data-title {
  color: #fff;
}

.home__data-subtitle {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.home__data-title {
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

.home__drone {
  position: relative;
  display: none;
  width: 100%;
}

.home__drone iframe {
  width: 100%;
  position: relative;

}

/* ============== Info =============== */

.info__container {
  display: flex;
  align-items: center;
  justify-content:space-around;
}

.info-title {
  font-size: 25px;
  color: #5F3987;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 70%;

}
#argumentReality {
  padding-right: 25px;
  padding-left: 27px;
}
.info-subtitle {
  font-size: 20px;
  color: #5F3987;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  
}

.info__container img {
  width: 35px;
}

/* ==============tutorial list======== */

.tutorial-list {
  font-family: 'Montserat', sans-serif;
  font-size: 1 5px;
  width: 100%;
  margin-top: 10%;
  color: #fff;
  font-weight: 300;
  line-height: 25px;
}

.tutorial-list-mobile {
  display: none;
  font-family: 'Montserat', sans-serif;
  font-size: 1 5px;
  width: 100%;
  margin-top: 10%;
  color: #fff;
  font-weight: 300;
  line-height: 25px;
}

/*=============== ABOUT ===============*/

#bis {
  padding: 6rem 0 6rem;
  background: rgb(27, 27, 27);
  background: linear-gradient(90deg, rgb(39, 39, 39) 0%, rgba(41,41,41,1) 45%, rgb(0, 0, 0) 100%);
}

.about__data {
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.about__div {
  width: 100%;
  color: #fff;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
}

.about__sesicomciencia {
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  color: #fff;
  padding-right: 1.5%;
}

.about__grey p {
  font-size: 13px;
  line-height: 23px;
  text-align: left;
  color: #fff;
  font-family: 'Montseratt', sans-serif;
  font-weight: 300 !important;
}

.about__description p {
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #fff;
  font-family: 'Montseratt', sans-serif;
  font-weight: 300 !important;
}
  
.about__grey {
  color: #4B4B4B;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 2rem;
  width: 50%;
  height: fit-content;
  letter-spacing: 1px;
}

.about__img {
  position: relative !important;
  z-index: 0;
  width: 100%;
  left: 0 !important;
}


.about__content{
  display: inline;
  z-index: 1;
}

/* ============== DRONE =============== */

#drone {
  padding: 6rem 0 6rem;
  background: #5F3987;
  background: linear-gradient(90deg, #2b1b3d 0%, #2a193b 45%, #3c1f5c 100%);
}

/*=============== FOOTER ===============*/
#footer {
  background-color: #f1f1f1;
  padding: 2rem 0 2rem;
}

#footer_antidoto {
  background-color: #353535;
  padding: 1rem 0 1rem;
  text-align: center;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Montserat', sans-serif;
  font-weight: 300;
}
.logo__footer {
  width: 80%;
}

.footer__rights {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.footer__rights img{
  width: 120px;
}



/*=============== MEDIA QUERIES ===============*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    width: 100% !important;
  }

  .section {
    padding: 2rem 0 2rem;
  }
  .home__container {
    height: 100vh;
    grid-template-rows: 1.8fr .5fr;
  }
  
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {

  .footer__content {
    justify-items: center;
  }
  .home__drone {
    position: relative;
    display: block;
    width: 100%;
  }
  
}

@media screen and (min-width: 1200px) {
  .info__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .info-title {
    font-size: 29px;
    color: #5F3987;
    text-align: center !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 60%;
  }

}

@media screen and (min-width: 1600px) {
  
  .container__novo {
    max-width: 70%;
  }
}

@media screen and (min-width: 720px) {
  .home__data-title, .home__data-subtitle {
    display: none;
  }

  .home__data .home__title img{
    width: 460px !important;
  }
  .container__novo {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }

  .home__drone img {
    width: auto !important;
  }
  
}

@media screen and (min-width: 570px) and (max-width: 720px ) {
  .container__novo {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #home {
    top: 0 !important;
    height: 40vh !important;
    background-position: left !important;
    background-image: url("../img/banner.svg");
  }  

  .home__drone {
    display: none;
  }

  .home__data {
    position: relative;
    display: block;
    width: 100%;
  }

  .home__title .home__data-title{
    margin-top: 0vh;
    text-align: center;
  }

  .home__title img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  .section__title {
    text-align: left;
  }

  .about__data {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__grey {
    width: 100% !important;
  }

  #info {
    padding: 1rem 0 1rem;
    text-align: center;
  }

  .info-subtitle {
    font-size: 13px;
  }

  .info-title, .info__container img{
    display: none;
  }

  .about__sesicomciencia {
    font-size: 9px;
    width: 120px;
    text-align: left;
  }

  .about__div {
    align-items: center;
  }
  
}

@media screen and (max-width: 570px) {
  #home {
    top: 0 !important;
    height: 45vh !important;
    background-position: right !important;
    background-image: url("../img/banner.svg");
  }  

  .home__data {
    position: relative;
    display: block;
    width: 100%;
  }

  .home__drone {
    display: none;
  }

  .home__title .home__data-title{
    margin-top: 5vh;
    text-align: center;
  }

  .home__data-subtitle {
    margin-top: 5vh !important;
  }

  .home__title img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
  }

  .container__absolute {
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
  }

  .container__velho{
    margin-left: auto;
    margin-right: auto;
    width: 85% !important;
  }

  #info {
    display: none
  }
  .info-title, .info__container img{
    display: none;
  }
  .section__title {
    text-align: left;
    font-size: 22px;
  }

  .about__data {
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .about__grey {
    width: 100% !important;
    display: flex;
    align-items: center;
  }

  .about__grey img{
    display: none;
  }
  .tutorial-list {
    display: none;
  }

  .tutorial-list-mobile {
    display: block;
    margin-top: 0;
  }

  .about__grey p{
    font-size: 13px;
  }

  .about__img vctr-viewer {
    height: 250px;
    width: 100%;
  }

  .footer__rights img{
    width: 70px;
  }

  #footer_antidoto {
    font-size: 9px;
  }

  .about__sesicomciencia {
    font-size: 9px;
    width: 120px;
    text-align: left;
  }

  .about__div {
    align-items: flex-start;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .about__div h1 {
    padding-left: 5%;
  }
}
